html {
    Overflow-y: auto
}
div img{
    width: 190px;

}.footer{
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background-color: grey; 
}.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
}


body {margin: 0; height: 100%;}
@media screen and (max-width: 700px){
    html, body{
        display: initial;
        overflow-y: scroll;
    }
    .row{
        display: initial;
        }
}











.container {     display: flex;     justify-content: center;     flex-wrap: wrap; }@media(max-width: 700px){.container{
    margin-top: 205px;
}}